<div class="relative flex justify-center">
  <div
    class="absolute mt-3 left-0 top-full w-[1280px] bg-white shadow-lg border-t border-gray-200 py-6 px-6 z-50"
  >
    <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
      <!-- Category Section -->
      <div class="col-span-1">
        <h3 class="text-[#00042] font-semibold mb-4">SELECT CATEGORY</h3>
        <div class="space-y-3">
          <div
            class="flex items-center gap-3 p-3 hover:bg-gray-100 cursor-pointer"
          >
            <img
              src="../../../assets/images/men_pic.webp"
              class="h-12 w-12 object-cover rounded-full"
            />
            <div class="flex gap-8 items-center">
              <p>Men</p>
              <p class="text-sm text-gray-500 w-40">
                Classic Eyeglasses <br />
                Starting From ₹2000
              </p>
            </div>
          </div>
          <div
            class="flex items-center gap-3 p-3 hover:bg-gray-100 cursor-pointer"
          >
            <img
              src="../../../assets/images/men_pic.webp"
              class="h-12 w-12 object-cover rounded-full"
            />
            <div class="flex gap-3 items-center">
              <p>Women</p>
              <p class="text-sm text-gray-500 w-40">
                Classic Eyeglasses <br />
                Starting From ₹2000
              </p>
            </div>
          </div>
          <div
            class="flex items-center gap-3 p-3 hover:bg-gray-100 cursor-pointer"
          >
            <img
              src="../../../assets/images/men_pic.webp"
              class="h-12 w-12 object-cover rounded-full"
            />
            <div class="flex gap-8 items-center">
              <p>Kids</p>
              <p class="text-sm text-gray-500 w-40">
                Classic Eyeglasses <br />
                Starting From ₹2000
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Other Sections -->
      <div class="col-span-3 grid grid-cols-2 md:grid-cols-4 gap-6">
        <div>
          <h3 class="font-semibold text-[#00042] mb-3">Our Top Picks</h3>
          <ul class="text-gray-600 space-y-2 cursor-pointer">
            <li class="hover:text-blue-500">New Arrivals</li>
            <li class="hover:text-blue-500">Best Seller</li>
            <li class="hover:text-blue-500">Lenskart BLU Lenses</li>
            <li class="hover:text-blue-500">Tinted Eyeglasses</li>
            <li class="hover:text-blue-500">Progressive Eyeglasses</li>
          </ul>
        </div>
        <div>
          <h3 class="font-semibold text-[#00042] mb-3">Frame Type</h3>
          <ul class="text-gray-600 space-y-2 cursor-pointer">
            <li>Rectangle Frames</li>
            <li class="hover:text-blue-500">Wayfarer Frames</li>
            <li class="hover:text-blue-500">Round Frames</li>
            <li class="hover:text-blue-500">Aviator Frames</li>
            <li class="hover:text-blue-500">Cat-Eye Frames</li>
            <li class="hover:text-blue-500">Rimless Frames</li>
          </ul>
        </div>
        <div>
          <h3 class="font-semibold text-[#00042] mb-3">Collection</h3>
          <ul class="text-gray-600 space-y-2 cursor-pointer">
            <li class="hover:text-blue-500">Switch Grip</li>
            <li class="hover:text-blue-500">Gulmarg Collection</li>
            <li class="hover:text-blue-500">Urban Edit</li>
            <li class="hover:text-blue-500">Blend Edit</li>
            <li class="hover:text-blue-500">Sleek Steel</li>
          </ul>
        </div>
        <div>
          <h3 class="font-semibold text-[#00042] mb-3">Brands</h3>
          <ul class="text-gray-600 space-y-2 cursor-pointer">
            <li class="hover:text-blue-500">Vincent Chase</li>
            <li class="hover:text-blue-500">Lenskart Air</li>
            <li class="hover:text-blue-500">OJOS</li>
            <li class="hover:text-blue-500">Lenskart Studio</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
