@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
  color: #000000;
}

.dark body {
  background-color: #333333;
  color: #ffffff;
}

.bg-light {
  background-color: #f0f0f0;
}

.bg-dark {
  background-color: #1f2937; /* Dark background */
}

.text-light {
  color: #1f2937;
}

.text-dark {
  color: #ffffff;
}
