@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #8e94cf;
  color: #ffffff;
}

.dark body {
  background-color: #333333;
  color: #ffffff;
}

.bg-light {
  background-color: #8e94cf;
}

.bg-dark {
  background-color: #1f2937;
}

.text-light {
  color: #ffffff;
}

.text-dark {
  color: #ffffff;
}

.error-class {
  border: 1px solid red;
  // background-color: #ffe6e6;
}
